# بسم الله الرحمن الرحيم
---

## إنشاء قائمة أرقام وتخزينها في متغير
## create a numeric list and assign it to a variable

In [ ]:
nums = [5, 10, 15, -5, -20, 0, 25]

---
## إنشاء قائمة كتابية وتخزينها في متغير
## create a string list and assign it to a variable

In [ ]:
words = ['i am the 1st','i am the 2nd', 'i am the 3rd', '123', 'q', 'w', 'my name is ali', '11bu']

---
## طباعة القيمة الأولى والثانية والأخيرة في القائمة
## printing the first, second, and last elements in a list

In [ ]:
print('1st element -> {}, 2nd element -> {}, and last element -> {}'.format(nums[0], nums[1], nums[-1]))

---
##  حذف القيمة الثانية من القائمة ، القيمة الثانية في الموقع ؤقم ١ لأن المواقع تبدأ من صفر
## removing the second element from a list, second index is 1 since indces start at 0

In [ ]:
words.pop(1)
words

---
## إنشاء حلقة تكرار لطباعة القيم داخل قائمة
## create a for loop to print values in a list

In [ ]:
for el in nums:
    print(el)

---
## إنشاء حلقة تكرار لطباعة القيم الزوجية فقط داخل قائمة
## create a for loop to print only even values in a list

In [ ]:
for el in nums:
    if el % 2 == 0:
        print(el)

---
## إنشاء قاموس
## create a dictionary

In [ ]:
ages = {'mohammd': 45, 'khadeejah': 35, 'ali': 37, 'omar': 29, 'zainub': 28, 'abdullah': 30, 'maryam': 29}

---
## طباعة مفاتيح وقيم القاموس لمن أعمارهم بين الثلاثين والأربعين
## print keys and values of the dictionary where ages are between 30 and 40

In [ ]:
for k,v in ages.items():
    if 40 >= v >= 30:
        print(k,v)